/* colors */
$color-primary: #AF5AAF;
$primary-light: #be8dbe;
$black-main: #000;
$white-main: #fff;
$grey-main: #ccc;
$grey-light: #f7f7f7;
$grey-hover: #0000000a;

/* sizes */
$basic-spacing: 16px;
$half-spacing: $basic-spacing / 2;
$font-size-standard: 16px;
$font-size-big: 20px;
$font-size-bigger: 32px;
$font-size-biggest: 48px;
$font-weight-standard: 300;
$font-weight-bolder: 400;